@import './../../../colors/colors';

.TypeOfSchool {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  margin-bottom: 60px;

  &-Content {


    display: flex;
    justify-content: center;
    flex-direction: column;

    .HorizontalMenu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 45px;
      margin-bottom: 60px;
      .SearchField {
        width: 40%;
        display: flex;
        height: 45px;
        border: 1px solid $borderInput;
        input {
          margin: 8px;
          border: none;
          outline: none;
          width: 90%;
          color: $textInput;
        }
        .MainSearchIcon {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 5px;
          width: 40px;
          background: $accentColor;
          &:hover {
            opacity: 0.8;
            transition: 400ms;
          }
          .MainSearchImage {
            width:16px;
            height: 17px;
            background: url("./img/Group (5).png") center no-repeat;
            background-size: contain;
          }
        }
      }
      .FiltersList {
        background: $accentColor;
        height: 45px;
        width: 45px;
        display: none;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
          transition: 400ms;
        }
        .Icon {
          width: 9px;
          height: 12px;
          background: url("./img/Group 2.png")no-repeat center;
        }
      }
    }

.Type{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 230px;
  grid-gap: 20px;
  .SectionCard { text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 100%;


    @mixin photo() {
      height: 210px;
      width: 100%;
      background-size: cover;
      margin-bottom: 10px;
    }
    img{
      @include photo();
    }
    .SectionPhoto0 {
      @include photo;
      background: url("./img/Rectangle 2.png") center no-repeat;
    }
    .SectionPhoto1 {
      @include photo;
      background: url("./img/Rectangle 2 (1).png") center no-repeat;
    }
    .SectionPhoto2 {
      @include photo;
      background: url("./img/Rectangle 2 (2).png") center no-repeat;
    }
    .NameCategory {
      font-size: 19px;
      max-width: 80%;
      font-weight: bold;
      color: #170bbf!important;
    }
  }
}




  }
}