@import './../../colors/colors';

.Management {
  display: flex;
  width: 100%;
  justify-content: center;

  &-Content {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;

    .DropdownList {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      border: 3px solid $accentColor;
      align-items: flex-start;
      width: 100%;
      border-radius: 9px;
      color: $accentColor;
      margin: 40px 0;
      &.ActiveDropdownList {
        .IconOpen {
          transform: rotate(180deg);
        }
        .LinksPage {
          margin-left: 40px;
          display: flex;
          flex-direction: column;
          height: auto;
        }
      }
      .LinksPage {
        height: 0;
        overflow: hidden;
        a{
          text-decoration: none;
          margin-bottom: 10px;
          color: black;
        }
      }
      .OpenLine {
        width: 100%;
        font-size: 20px;
        display: flex;
        justify-content: space-between !important;
        align-items: center;
        padding: 8px 30px;
        box-sizing: border-box;
        .IconOpen {
          background: url("./img/open.png");
          height: 28px;
          width: 35px;
          background-size: cover;
        }
      }

    }

    h2 {
      margin-top: 80px;
      margin-bottom: 40px;
    }

    h3 {
      margin-top: 40px;
    }

    p {
      margin-top: 10px;
      font-size: 14px;
    }
  }
}