@import './../../../colors/colors';

.Filters {
  display: flex;
  width: 100%;
  justify-content: center;

  &-Content {

    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    align-items: center;
    h4 {
      width: 100%;
    }
    .Basic {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 230px;
      grid-gap: 20px;
      .FiltersBlock {
        grid-row-start: 1;
        grid-row-end: 3;
        box-shadow:1px 1px 21px 0 rgba(0,0,0,0.14);
        padding: 20px;
        box-sizing: border-box;
        position: relative;
        .SearchField {
          display: flex;
          width: 100%;
          height: 45px;
          border: 1px solid $borderInput;
          input {
            margin: 8px;
            border: none;
            outline: none;
            width: 90%;
            color: $textInput;
          }
          .MainSearchIcon {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px;
            width: 40px;
            background: $accentColor;
            &:hover {
              opacity: 0.8;
              transition: 400ms;
            }
            .MainSearchImage {
              width: 16px;
              height: 17px;
              background: url("./img/Group (5).png") center no-repeat;
              background-size: contain;
            }
          }
        }

        .Option {
          display: flex;
          cursor: pointer;
          font-family: 'Spicy Rice', cursive;
          &:nth-child(5) {
            margin: 10px 0 10px 0;
          }
          .Point {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 18px;
            height: 18px;
            border-radius: 4px;
            background: $point;
            margin-right: 12px;
            .Round {
              display: none;
              width: 10px;
              height: 10px;
              background: $accentColor;
              border-radius: 3px;
              &.active {
                display: flex;
              }
            }
          }
        }
        .OptionSchool {
          display: flex;
          margin: 0 0 12px 0;
          cursor: pointer;
          .Point {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 18px;
            height: 18px;
            border-radius: 9px;
            background: $point;
            margin-right: 12px;
            .Round {
              display: none;
              width: 10px;
              height: 10px;
              background: black;
              border-radius: 5px;
              &.active {
                display: flex;
              }
            }
          }
        }
        .ButtonBlock {
          display: flex;
          justify-content: space-between;
          position: absolute;
          bottom: 20px;
          right: 20px;
          left: 20px;
          font-family: 'Spicy Rice', cursive;
          .Apply {
            cursor: pointer;
            background: $accentColor;
            height: 45px;
            width: 50%;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
              opacity: 0.8;
              transition: 400ms;
            }
          }
          .Map {
            position: relative;
            height: 45px;
            width: 45px;
            background: $accentColor;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:hover {
              opacity: 0.8;
              transition: 400ms;
            }
            .Image {
              background: url("./img/Group 2.png") center no-repeat;
              height: 12px;
              width: 9px;
            }
          }
        }

      }

      .Card {
        font-family: 'Spicy Rice', cursive;
        display: flex;
        flex-direction: column;
        justify-content: space-between;text-decoration: none;
        .NameSchool{

          font-size: 16px;
          font-weight: bold;
          color: #170bbf;

        }
        .NoPhoto {
          background: url("./img/nophoto.jpg")no-repeat center;
          width: 100%;
          height: 88%;
          border-radius: 0!important;
          background-size: contain;
        }
        img {
          width: 100%;
          height: 88%;
          box-shadow:1px 1px 21px 0 rgba(0,0,0,0.14);
          background: no-repeat center;
          background-size: cover;
        }

      }
    }

  }

}