.TableLeaders {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
margin-bottom: 60px;
  &-Content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    border-left: 1px solid black;
    border-top: 1px solid black;
    div {
      font-size: 12px;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      padding: 2px;
    }
  }
}