@import './../../../colors/colors';

.Footer{
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $accentColor;
  &-Content{
    position: relative;
    display: flex;

    &-Text{
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      p{
        margin: 0;
        font-family: 'Spicy Rice', cursive;
        font-size: 12px;
        font-weight: bold;
        color: white;
      }
      .Image{
        background: url("./img/logo.png");
        width: 136px;
        height: 30px;
        margin-left: 25px;
        margin-top: 8px;
      }
    }

    &-Title{
      margin-left: auto;
      color: white;
    }
  }
}