@import './../../colors/colors';
.Documentation {
  display: flex;
 align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 60px;
  &-Content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 30px;
    .Document{
      width: 100%;
      img{ height: 200px;
        width: 100%;
        background-size: cover;
        object-fit: cover;
      }
    }
  }
  .PageNavigation{
    display: flex;
    width: 100%;
    justify-content: center;
    .ButtonPage{
      margin: 5px;
      height: 50px;
      width: 50px;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $accentColor;
      border: 2px solid $accentColor;
      &.activeButton{
        background: #FFFFFF;
        color: $accentColor;
      }
    }
  }
  .BackgroundBigPhoto {
    z-index: 1000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .Info {
      color: #FFFFFF;
      width: 90%;
      max-height: 27vh;
      display: flex;
      flex-direction: column;
      white-space: pre-wrap;
    }
    .BigPhoto {
      background: white;
      opacity: 1;
      max-height: 80vh;
      max-width: 90%;
    }
  }
}