@import './../../../colors/colors';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.SliderWithPictures {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  &-Content {

    position: relative;
    display: flex;

    .slick-slider {
      display: flex;
      position: relative;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;

      .slick-prev {

        left: 0;
        height: 100%;
        background: url("./img/Rectangle 3.png") no-repeat center;
        background-size: contain;
        &:before {
          color: transparent;
        }
      }
      .slick-list {
        width: 90%;
        height: 500px;
        .SlideContent {
          position: relative;
          height: 500px;
          width: 100%;
          //background: yellow;
          outline: none;
          img{
            height: 500px;
            width: 100%;
            object-fit: cover;
            object-position: bottom;
          }
          .Signature {
            opacity: 0.5;
            width: 100%;
            height: 100px;
            position: absolute;
            bottom: 0;
            background: black;
          }
          h3 {
            display: flex;
            align-items: center;
            margin: 0 0 0 20px;
            width: 100%;
            height: 100px;
            position: absolute;
            bottom: 0;
            color: #FFFFFF;
          }
        }
      }
      .slick-next {
        right: 0;
        top: 0;
        height: 100%;
        background: url("./img/Rectangle 3.png") no-repeat center;
        transform: rotate(180deg);
        background-size: contain;
        &:before {
          color: transparent;
        }
      }
      ul {
        width: 100%;
        display: flex !important;
        justify-content: center !important;
        li {
          margin: 0 10px;
          display: inline-block;
          opacity: 0.25;
          &.slick-active {
            opacity: 1;
          }
          button {
            border-radius: 50%;
            width: 8px;
            height: 8px;
            color: transparent;
            background: black;
          }
        }
      }
    }
  }
}