@import './../../../colors/colors';

.Sections {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-Content {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
    .SectionCard { text-decoration: none;
      display: flex;
      flex-direction: column;
      width: 32%;
      margin-bottom: 40px;
      &:nth-child(7) {
       margin-left: 16.5%;
      }
      &:nth-child(8) {
       margin-right: 16.5%;
      }
      @mixin photo() {
        height: 210px;
        width: 100%;
        background-size: cover;
        margin-bottom: 10px;
      }
      .SectionPhoto0 {
        @include photo;
        background: url("./img/Rectangle 2.png") center no-repeat;
      }
      .SectionPhoto1 {
        @include photo;
        background: url("./img/centralnyi-raion-toliatti-24.0c09ec46.jpg") center no-repeat;
      }
      .SectionPhoto2 {
        @include photo;
        background: url("./img/Rectangle 2 (2).png") center no-repeat;
      }
      .SectionPhoto3 {
        @include photo;
        background: url("./img/65_big.jpg") center no-repeat;
      }
      .SectionPhoto4 {
        @include photo;
        background: url("./img/Rectangle 2 (4).png") center no-repeat;
      }
      .SectionPhoto5 {
        @include photo;
        background: url("./img/Rectangle 2 (5).png") center no-repeat;
      }
      .SectionPhoto6 {
        @include photo;
        background: url("./img/Rectangle 2 (6).png") center no-repeat;
      }
      .SectionPhoto7 {
        @include photo;
        background: url("./img/Rectangle 2 (7).png") center no-repeat;
      }
      .NameCategory {
        font-size: 19px;
        max-width: 80%;
        color: #170bbf;
        font-weight: bold;

      }
    }

  }
}