@import './../../../colors/colors';

.Header {
  position: relative;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &-Content {
    position: relative;
    display: flex;
    flex-direction: row;
    &-Right {
      width: 160px;
      position: relative;
      display: flex;
      margin-left: auto;
      align-items: center;

      .SelectLang {
        font-family: 'Roboto Slab', serif;
        height: 12px;
        font-size: 12px;
        font-weight: bold;
        margin-left: auto;

      }

      .MenuButton {
        width: 20px;
        height: 17px;
        margin-left: auto;

        .line {
          height: 3px;
          width: 20px;
          background-color: black;
          margin-top: 4px;
          &:nth-child(1) {
            margin-top: 0;
          }
        }
      }
    }
    &-Title {
      text-decoration: none;
      font-family: 'Roboto Slab', serif;
      font-size: 24px;
      text-align: left;
      font-style: normal;
      font-weight: bold;
      line-height: 21px;
      color: #170bbf!important;
    }
  }
}

.Menu {
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 1080px;
  width: 100%;
  z-index: 10;
  justify-content: center;
  background-color: $accentColor;
  .XButton {
    position: absolute;
    top: 110px;
    right: 270px;
    background: none;
    height: 46px;
    width: 46px;

    @mixin xline($deg) {
      width: 56.7px;
      height: 8.36px;
      background-color: #FFFFFF;
      border-radius: 6px;
      transform: rotate($deg);
    }

    .XLine1 {
      @include xline(45deg);
    }
    .XLine2 {
      @include xline(-45deg);
      margin-top: -8px;
    }
  }

  &-Content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6vh;
    height: 94vh;
    text-align: center;

    &-Title {
      height: 50px;
      display: flex;
      align-items: center;
      color: white;
    }

    .Line {
      height: 50px;
      width: 3px;
      background-color: white;
    }

    .Links {
      font-size: 24px;
      height: 700px;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .LinkBlock {
        a {
          color: white;
          text-decoration: none;
          font-size:33px;
        }
      }
      .OpenList {
        color: white;
        cursor: pointer;
      }
    }
    .Array {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 50px;
      box-sizing: border-box;
      margin-top: 20px;
      right: -240px;
      border-bottom: 1px solid white;
      padding: 10px;
      max-height: 200px;
      transition: max-height  0.6s  linear ;
      overflow: hidden;
      &.NoActive {
        pointer-events: none;
        max-height: 0;
        opacity: 0;
        padding: 0 10px;
        transition: opacity 0.3s linear;
      }
      .MiniLinkBlock {
        margin-bottom: 10px;
        a {
          color: white;
          text-decoration: none;
          font-size: 23px;
        }
      }
    }
  }
}