@import './../../../colors/colors';

.InfoText {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-Content {
    position: relative;
    display: flex;
    flex-direction: column;
  }
}