@import './../../../colors/colors';

.Media {
  width: 100%;
  display: flex;
  justify-content: center;

  &-Content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

    .BigView {
      width: 100%;
      height: 600px;
      margin-bottom: 30px;
      object-fit: contain;
    }
    .player-wrapper{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 30px;

    } .ytp-watermark{
        display: none!important;
    pointer-events: none;
      }
    .yt-uix-sessionlink{
      display: none!important; pointer-events: none;
    }
    .slick-slider {
      display: flex;
      position: relative;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
      height: 200px;
      width: 100%;
      .slick-prev {
        left: 0;
        height: 100%;
        background: url("./img/Rectangle 3.png") no-repeat center;
        background-size: contain;
        &:before {
          color: transparent;
        }
      }
      .slick-list {
        width: 90%;
        height: 200px;
        .SlideContent {
          position: relative;
          height: 200px;
          outline: none;
          display: flex !important;
          justify-content: center;
          align-items: center;
          .MediaContent {
            height: 100%;
            width: 90%;
            object-fit: cover;
            cursor: pointer;
          }
          .Video{
            height: 100%;
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            .ImageVideo{
              background: url("./img/play.png");
              height: 80px;
              width: 80px;
            }

          }

        }
      }
      .slick-next {
        right: 0;
        top: 0;
        height: 100%;
        background: url("./img/Rectangle 3.png") no-repeat center;
        transform: rotate(180deg);
        background-size: contain;
        &:before {
          color: transparent;
        }
      }

    }
  }
}