@import './../../../colors/colors';

.OnAffinityMap {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-Content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    .Line{
      display: flex;
      justify-content: space-between;
      .Map {
        position: relative;
        height: 45px;
        width: 45px;
        background: $accentColor;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
          transition: 400ms;
        }
        .Image {
          background: url("./img/Group 3.png") center no-repeat;
          height: 13px;
          width: 24px;
        }
      }
    }
    .ymaps-2-1-68-balloon__content{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .ymaps-2-1-68-copyright_logo_no{
      display: none;
    }

    .ymaps-2-1-68-map-copyrights-promo{
      display: none!important;
    }
  }
}