.History{
  display: flex;
  width: 100%;
  justify-content: center;

  &-Content{
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;

    h2{
      margin-top: 80px;
      margin-bottom: 40px;
    }

    h3{
      margin-top: 40px;
    }

    p{
      margin-top: 10px;
      font-size: 14px;

    }
    .player-wrapper{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 30px;

    }
  }
}