@import './../../../colors/colors';

.Biography {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-Content {
    position: relative;
    display: flex;
    margin-bottom: 60px;
    .Left {
      width: 20%;
      margin-top: 70px;
      .Photo {
        width: 230px;
        height: 230px;
        background: #EA526F;
        border-radius: 50%;
        object-fit: cover;
        background: no-repeat center;
      }
      .Name {
        display: flex;
        width: 100%;
       justify-content: center;
        text-align: center;
      }
    }
    .Right {
      width: 80%;
    }
  }
}