@import './../../../colors/colors';

.Info {
  display: flex;
  justify-content: center;
  align-items: center;

  &-Content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    align-items: center;
    .MainInfo {
      position: relative;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      max-height: 510px;
      overflow: hidden;
      transition: max-height .2s linear;
      &.active {
        max-height: 5000px;
        transition: max-height 1s linear;
      }
      .InfoBlock {

      }

      .Gradient {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0) 15%);
      }
    }

    .More {
      background: $accentColor;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      margin-top: 20px;
      &:hover {
        opacity: 0.8;
        transition: 400ms;
      }
    }
  }
}