@import './../../../colors/colors';

.OnAffinity {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-Content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    .Line{
      display: flex;
      justify-content: space-between;
      .Map {
        position: relative;
        height: 45px;
        width: 45px;
        background: $accentColor;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
          transition: 400ms;
        }
        .Image {
          background: url("./img/Group 2.png") center no-repeat;
          height: 12px;
          width: 9px;
        }
      }
    }
    .Box{
      display: flex;

      .Card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 220px;
        width: 32%;
        padding-right: 20px;
        box-sizing: border-box;  text-decoration: none;
        a{


        }
        img {
          height: 90%;
          box-shadow:1px 1px 21px 0 rgba(0,0,0,0.14);
          background: no-repeat center;
          background-size: cover;
        }
        .NoPhoto {
          border-radius: 0!important;
          background: url("./img/nophoto.jpg") ;
          height: 90%;
          background-size: contain;
        }
.NameSchool{
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}
      }
    }
  }
}