@import './../../../colors/colors';

.List {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &-Content {
    position: relative;
    display: flex;
    margin-bottom: 60px;
    flex-wrap: wrap;
    .Card {
      width: 25%;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 40px;
      text-decoration: none;
      color: black;
      .Image {
        height: 200px;
        width: 200px;
        border-radius: 50%;

        object-fit: cover;
        object-position: top;
      }
      .Name {
        display: flex;
        justify-content: center;
        font-weight: bold;
        margin-top: 20px;
        font-size: 18px;
      }
      .InfoText{
        margin-top: 20px;
        color: $textInput;
        font-size: 15px;
      }
    }
  }
}