@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic');

body {
  overflow-x: hidden;
  margin: 0;
  //font-family: 'Open Sans', sans-serif;
  font-family: 'Spicy Rice', cursive;
  font-style: normal;
  cursor: default;
  user-select: none;
}
.MainBoxContainer{
  min-height: 69vh;
}
.container {
  width: 1240px;
}

.container-fluid {
  max-width: 1900px;
  min-width: 300px;
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
}

.center {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'Spicy Rice', cursive;
  font-size: 37px;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  line-height: 37px;
  //color: #000000;
}

h2 {
  font-family: 'Spicy Rice', cursive;
  //font-family: 'Roboto Slab', serif;
  font-size: 28px;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  line-height: 28px;
  color: #000000;
}

a{
  font-family: 'Spicy Rice', cursive;
}

h3 {
  font-family: 'Spicy Rice', cursive;
  //font-family: 'Playfair Display', serif;
  font-size: 24px;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  line-height: 21px;
  color: #000000;
}

h4 {
  //font-family: 'Roboto Slab', serif;
  font-family: 'Spicy Rice', cursive;
  font-size: 18px;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
}
h5 {
  //font-family: 'Roboto Slab', serif;
  font-family: 'Spicy Rice', cursive;
  font-size: 15px;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  line-height: 15px;
  color: #000000;
}
button {
  outline: none;
  border: none;
  background-color: white;
  //font-family: 'Open Sans', sans-serif;
  font-family: 'Spicy Rice', cursive;
  padding: 0;
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

p {
  font-family: 'Spicy Rice', cursive;
  //font-family: 'SansSerif', sans-serif;
  text-align:justify;
  font-size: 16px;
  line-height: 25px;
  text-indent: 30px;
}

.NoPhoto{
  height: 190px;
  width: 190px;
  background-size: contain;
  border-radius: 50%;
  background: url("./img/blank-cccccc-768x768.png")!important;
  background-size: contain!important;
}