@import './../../../colors/colors';

.OtherOverlay {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  height: 300px;
  margin-bottom: 60px;
  .Image {
    position: relative;
    width: 100%;
    height: 100%;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .BackgroundFilter {
      width: 100%;
      height: 300px;
      background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(8, 7, 58, 0.99) 10%, rgba(8, 7, 58, 0.99) 90%, rgba(0, 0, 0, 1));
      opacity: .75;
    }
  }

  &-Content {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h6 {
      margin: 0;
      color: #FFFFFF;
    }
    h4 {
      margin: 5px 0 0 0;
      color: #FFFFFF;
    }
    p {
      width: 50%;
      height: 100px;
      margin: 20px 0 0 0;
      overflow: hidden;
      text-overflow: ellipsis;
      text-indent: 0;
      color: #FFFFFF;
    }
    .More {
      display: flex;
      justify-content: center;
      background: #FF3E3E;
      padding: 10px;
      width: 200px;
      cursor: pointer;
      margin-top: 30px;
      border-radius: 10px;
      color: #FFFFFF;
      text-decoration: none;
      &:hover {
        background: #FF7676;
      }
    }
  }
}