.FlyWindow {
  display: none;
  background: rgba(0,0,0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  &.activeFlyWindow {
    display: flex;
  }
  .WhiteWindow{
    background: #FFFFFF;
    width: 1000px;
    height: 50vh;
    display: flex;
    padding: 10px 0!important;
    box-sizing: content-box!important;
    &-Left{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 40%;
      padding: 20px;
      .Photo{
        height: 300px;
        width: 300px;
        object-fit: cover;
        object-position: top;
        border-radius: 50%;
      }
      .Name{
        margin: 20px;
        text-align: center;
      }
      .MiniInfo{
        text-align: center;
      }
    }
    &-Right{
      width: 60%;
      height: 100%;
      align-items: center;
      white-space:pre-wrap;
      text-indent: 30px;
      overflow: auto;
      p{white-space:pre-wrap;
        justify-content: flex-start;
        text-indent: 30px;
        padding: 0 10px!important;
        box-sizing: content-box!important;
      }
    }
  }
}
.NoPhoto{
  background: url("../img/blank-cccccc-768x768.png")!important;
  background-size: contain!important;
}