@import './../../../colors/colors';

.AboutProject {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-Content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    .AboutProjectImage {
      width: 40%;
      background: url("./img/P1060778.JPG") center no-repeat;
      background-size: contain;
    }

    .AboutProjectInfo {
      width: 100%;
      &:nth-child(1) {
        width: 60%;
        .AboutProjectTitle {
          font-size: 28px !important;
        }
      }
      &:nth-child(2) {
        width: 60%;
      }
    }
    p {

    }

  }
}