@import './../../../colors/colors';

.MainSearch {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-Content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    .SearchField {
      display: flex;
      width: 500px;
      height: 45px;
      border: 1px solid $borderInput;
      &.SearchFieldTrue{
        display: flex;
        width: 100%;
        height: 45px;
        border: 1px solid $borderInput;
      }
      input {
        margin: 8px;
        border: none;
        outline: none;
        width: 90%;
        color: $textInput;
      }
      .MainSearchIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        width: 40px;
        cursor: pointer;
       background: $accentColor;
        &:hover{
          opacity: 0.8;
          transition: 400ms;
        }
        .MainSearchImage{
          width: 16px;
          height: 17px;
          background: url("./img/Group (5).png")center no-repeat;
          background-size: contain;
        }
      }
    }

  }
}