@import './../../../colors/colors';

.MapType {
  display: flex;
  width: 100%;
  justify-content: center;

  &-Content {
    padding-bottom: 80px;
    .HorizontalMenu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 45px;
      margin-bottom: 60px;
      .SearchField {
        width: 40%;
        display: flex;
        height: 45px;
        border: 1px solid $borderInput;
        input {
          margin: 8px;
          border: none;
          outline: none;
          width: 90%;
          color: $textInput;
        }
        .MainSearchIcon {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 5px;
          width: 40px;
          background: $accentColor;
          &:hover {
            opacity: 0.8;
            transition: 400ms;
          }
          .MainSearchImage {
            width: 16px;
            height: 17px;
            background: url("./img/Group (5).png") center no-repeat;
            background-size: contain;
          }
        }
      }
      .FiltersList {
        background: $accentColor;
        height: 45px;
        width: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
          transition: 400ms;
        }
        .Icon {
          width: 24px;
          height: 13px;
          background: url("./img/Group 3.png");
        }
      }
    }
  .ymaps-2-1-68-balloon__content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


    .ymaps-2-1-63-gotoymaps-container__text-container{
      display: none!important;
    }



 .ymaps-2-1-68-copyright_logo_no{
   display: none!important;
 }

  .ymaps-2-1-68-map-copyrights-promo{
    display: none!important;
  }




  }
}