@import './../../../colors/colors';

.Gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-Content {
    position: relative;
    display: flex;
    margin-bottom: 60px;

    .slick-slider {
      display: flex;
      position: relative;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;

      .slick-prev {

        left: 0;
        height: 100%;
        background: url("./img/Rectangle 3.png") no-repeat center;
        background-size: contain;
        &:before {
          color: transparent;
        }
      }
      .slick-list {
        width: 90%;
        height: 500px;
        .SlideContent {
          display: flex!important;
          justify-content: center;
          position: relative;
          height: 500px;
          width: 100%;
          //background: yellow;
          outline: none;
          img {
            height: 100%;
            //width: 100%;
            background: center no-repeat;
            object-position: center;
            background-size: cover;
            object-fit: cover;
          }
        }
      }
      .slick-next {
        right: 0;
        top: 0;
        height: 100%;
        background: url("./img/Rectangle 3.png") no-repeat center;
        transform: rotate(180deg);
        background-size: contain;
        &:before {
          color: transparent;
        }
      }
      ul {
        width: 100%;
        display: flex !important;
        justify-content: center !important;
        li {
          margin: 0 10px;
          display: inline-block;
          opacity: 0.25;
          &.slick-active {
            opacity: 1;
          }
          button {
            border-radius: 50%;
            width: 8px;
            height: 8px;
            color: transparent;
            background: black;
          }
        }
      }
    }

  }
}