@import './../../../colors/colors';

.AwardedToStaff {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-Content {
    position: relative;
    display: flex;
    flex-direction: column;
    .NoPhoto {
      background: url("./img/nophoto.jpg");
      height: 190px;
      width: 190px;
      border-radius: 50%;
      background-size: contain;
    }
    .slick-slider {
      position: relative;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;

      .slick-prev {
        position: absolute;
        top: -40px;
        left: 93%;
        width: 40px;
        height: 39px;
        background: url("./img/Group 4.1.png") no-repeat center;
        background-size: cover;
        &:before {
          color: transparent;
        }
      }
      .slick-list {
        display: flex;
        width: 100%;
        min-height: 275px;
        margin-bottom: 60px;
        .slick-track {
          display: flex;
          position: absolute;
          left: 0;

          div {
            outline: none;
            .CardSliderFive {
              height: 275px;
              width: 25%;
              display: flex !important;
              justify-content: center;
              img {
                height: 190px;
                width: 190px;
                border-radius: 50%;
                object-fit: cover;
                object-position: top;
              }

              .RightInfo {
                max-width: 150px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .MiniInfo {
                  color: $miniText;
                  font-size: 14px;
                }

              }
            }



          }
        }

      }
      .slick-next {
        position: absolute;
        top: -60px;
        right: 0;
        height: 39px;
        width: 40px;
        background: url("./img/Group 4.1.png") no-repeat center;
        transform: rotate(180deg);
        background-size: cover;
        &:before {
          color: transparent;
        }
      }
      ul {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex !important;
        justify-content: center !important;
        li {
          margin: 0 10px;
          display: inline-block;
          opacity: 0.25;
          &.slick-active {
            opacity: 1;
          }
          button {
            border-radius: 50%;
            width: 8px;
            height: 8px;
            color: transparent;
            background: black;
          }
        }
      }
    }
    .FlyWindow {
      display: none;
      background: rgba(0,0,0, 0.8);
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1000;
      justify-content: center;
      align-items: center;
      &.activeFlyWindow {
        display: flex;
      }
      .WhiteWindow{
        background: #FFFFFF;
        width: 1000px;
        height: 50vh;
        display: flex;
        &-Left{
          padding: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 40%;
          .Photo{
            height: 300px;
            width: 300px;
            object-fit: cover;
            object-position: top;
            border-radius: 50%;
          }
          .Name{
            text-align: center;
            margin: 20px;
          }
          .MiniInfo{
            text-align: center;
          }
        }
        &-Right{
          width: 60%;
          height: 100%;
          padding: 20px;
          overflow: auto;
          align-items: center;
          white-space:pre-wrap;
          text-indent: 30px;
          p{white-space:pre-wrap;
            justify-content: flex-start;
            text-indent: 30px;
          }
        }
      }
    }
  }
}