@import './../../colors/colors';

.LeadersOfEducation {
  display: flex;
  width: 100%;
  justify-content: center;
flex-direction: column;
  align-items: center;
  h2{
    margin-bottom: 40px;
  }
  &-Content {
    display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 80px;

    .NoPhoto {
      background: url("./img/nophoto.jpg");
      height: 190px;
      width: 190px;
      background-size: contain;
      border-radius: 50%;
    }

    .CardSliderTwo {
      position: relative;
      height: 275px;
      width:100%;
      display: flex !important;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      margin-bottom: 40px;
      img {
        height: 190px;
        width: 190px;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
      }

      h5 {
        text-align: center;
      }
      .MiniInfo {
        color: $miniText;
        font-size: 14px;
      }

    }

    .FlyWindow {
      display: none;
      background: rgba(0, 0, 0, 0.8);
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1000;
      justify-content: center;
      align-items: center;
      &.activeFlyWindow {
        display: flex;
      }
      .WhiteWindow {
        background: #FFFFFF;
        width: 1000px;
        height: 50vh;
        padding: 20px;
        display: flex;
        &-Left {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 40%;
          padding: 20px;
          .Photo {
            height: 300px;
            width: 300px;
            object-fit: cover;
            object-position: top;
            border-radius: 50%;
          }

          .Name {
            margin: 20px;
            text-align: center;
          }
          .MiniInfo {
            text-align: center;
          }
        }
        &-Right {
          margin: 0;
          align-items: center;
          width: 60%;
          height: 100%;
          overflow: auto;

          p {
            white-space: pre-wrap;
            justify-content: flex-start;
            text-indent: 30px;
          }
        }
      }
    }
  }
}