@import './../../../colors/colors';

.Rewards {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-Content {
    position: relative;
    display: flex;
    flex-direction: column;

    .slick-slider {
      position: relative;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;

      .slick-prev {
        position: absolute;
        top: -40px;
        left: 93%;
        width: 40px;
        height: 39px;
        background: url("./img/Group 4.1.png") no-repeat center;
        background-size: cover;
        &:before {
          color: transparent;
        }
      }
      .slick-list {
        display: flex;
        width: 100%;
        min-height: 190px;
        margin-bottom: 60px;
        .slick-track {
          display: flex;
          position: absolute;
          left: 0;

          div {
            outline: none;
            .CardSliderSix {
              position: relative;
              width: 16%;
              height: 100px;
              display: flex !important;
              justify-content: center;
              box-sizing: border-box;
              img {
                height: 100px;
                width: 190px;
                object-fit: cover;
                object-position: top;
              }
              .NoPhoto {
                background: url("./img/nophoto.jpg");
                height: 100px;
                width: 190px;
                background-size: contain;
                border-radius: 0!important;
              }
              .RightInfo {
                max-width: 150px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .MiniInfo {
                  color: $miniText;
                  font-size: 14px;
                }
              }
            }



          }
        }

      }
      .slick-next {
        position: absolute;
        top: -60px;
        right: 0;
        height: 39px;
        width: 40px;
        background: url("./img/Group 4.1.png") no-repeat center;
        transform: rotate(180deg);
        background-size: cover;
        &:before {
          color: transparent;
        }
      }
      ul {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex !important;
        justify-content: center !important;
        li {
          margin: 0 10px;
          display: inline-block;
          opacity: 0.25;
          &.slick-active {
            opacity: 1;
          }
          button {
            border-radius: 50%;
            width: 8px;
            height: 8px;
            color: transparent;
            background: black;
          }
        }
      }
    }


  } .BackgroundBigPhoto{
  z-index: 1000;
      position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0,0,0, 0.8);
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h4{
    color: #FFFFFF;
  }
  h5{
    color: #FFFFFF;
  }
  .Info{
    color: #FFFFFF;
    width: 90%;
    max-height: 27vh;
    display: flex;
    flex-direction: column;
    white-space:pre-wrap;
  }
      .BigPhoto{
        background: white;
        opacity: 1;
        max-height: 70vh;
        max-width: 90%;
      }
    }
}